{% extends "base.html" %}
{% block content %}
<h1>Editar Producto</h1>
<form method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ producto.nombre }}">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" value="{{ producto.precio }}">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" value="{{ producto.cantidad }}">
    <label for="min_stock">Min Stock:</label>
    <input type="number" id="min_stock" name="min_stock" value="{{ producto.min_stock }}">
    <button type="submit">Actualizar</button>
</form>
{% endblock %}
