{% extends "base.html" %}

{% block content %}
<h1>Reporte de Productos</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Min Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.min_stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('download_report', file_type='pdf') }}" class="btn">Descargar PDF</a>
<a href="{{ url_for('download_report', file_type='excel') }}" class="btn">Descargar Excel</a>
{% endblock %}
